/* Główne kontenery */
.image-wrapper {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Wyszukiwarka klas */
#classSearch {
    background-color: #212529;
    color: white;
    border: 1px solid #6c757d;
}

/* Styl listy wyboru klas */
.form-check-label {
    color: #e0e0e0;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #ffc107;
    border-color: #ffc107;
}

/* Plakietki detekcji pod zdjęciami */
.detection-badge {
    border: 1px solid #444;
}

.confidence-text {
    color: #ffffff; /* Jasne cyfry */
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

/* Scrollbar dla listy klas */
#classListContainer::-webkit-scrollbar {
    width: 6px;
}
#classListContainer::-webkit-scrollbar-thumb {
    background: #ffc107;
    border-radius: 10px;
}

.bbox {
    position: absolute;
    border: 2px solid; /* Usunięto kolor */
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.bbox-label {
    position: absolute;
    top: -22px;
    left: -2px;
    color: #000; /* Możesz zmienić na biały, jeśli kolory będą ciemne */
    font-size: 10px;
    font-weight: bold;
    padding: 1px 4px;
    white-space: nowrap;
}